{% extends 'layout.html.twig' %}

{% set active = 'inscription' %}

{% block page_title %}
    Inscription
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h1 class="text-center mb-3">Bienvenue sur la page d'inscription</h1>
            <div>
                {{ form_start(form) }}
                {{ form_widget(form, {attr:{novalidate: 'novalidate' }}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block final_javascripts %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pwstrength-bootstrap/3.0.1/pwstrength-bootstrap.min.js"
            integrity="sha256-9NuGcW+0Sc4x615wpiev0h35Sg37EDE+pIqa9LeC+YY=" crossorigin="anonymous"></script>
    <script>
        $('#membre_password').pwstrength({ui:{bootstrap3: true}});
    </script>
{% endblock %}